*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #25272f;
	font-family: helvetica,courier;
	font-weight: bold;
	color:white;
}
.tile{
	width: 170px;
	height: 140px;
	margin: 5px;
	padding: 20px;
float: left;
}  
.tile-double{
	width: 390px;
	height: 140px;
	margin: 5px;
	padding: 20px;
	float: left;
}

.green{
	background-color: #1382A3;
}
.indigo{
	background-color: orange;
}
.red{
	background-color: #F16F51;
}
.yellow{
	background-color: #FDB45C;
}
.lightgrey{
	background-color: #F6F6F6;
	color:black;
}
.city-image{
	background-image: url("image/apple.jpg");
}
#main-container{
max-width: 900px;
margin: 0 auto;
}
#users-table{
margin: 10px auto;
font-weight: normal;
width: 100%;	
		}
#users-table th{
border-bottom: 1px solid #f6f6f6;
padding: 2px;
text-align: center;
}
#users-table td{
	padding: 2px;
	text-align: center;
}
.pp{
	color:red;
	height: 100px;
}
.lp{
	width: 120px;
	height: 150px;
}
